#!/bin/sh
# -------------------------------------------------------------- -*- sh -*--

cp /dotidx/etc-{{.Name}}/systemd/*.service ~/.config/systemd/user
chmod 644 ~/.config/systemd/user/*.service
systemctl --user daemon-reload
systemctl --user status --failed



