#!/usr/bin/env bash
set -euo pipefail

echo "dotidx reboot starting at $(date -Is)"

# Restart relay chain services
{{- if .RelayServices }}
echo "Restarting relay chain services..."
{{- range .RelayServices }}
echo "systemctl restart {{ . }}"
systemctl restart {{ . }}
{{- end }}
{{- end }}

# Restart parachain services
{{- if .ParachainServices }}
echo "Restarting parachain services..."
{{- range .ParachainServices }}
echo "systemctl restart {{ . }}"
systemctl restart {{ . }}
{{- end }}
{{- end }}

echo "dotidx reboot complete at $(date -Is)"

