**/*~
**/#*.*#
**/.#*
**/*.bak
**/*.so
**/*.log
**/*.gz
**/*.out
TAGS
ETAGS
cmd/dixbatch/dixbatch
cmd/dixfe/dixfe
cmd/dixlive/dixlive
cmd/dixcron/dixcron
cmd/dixmgr/dixmgr
cmd/block_cli/block_cli
cmd/address_cli/address_cli
cmd/filter_cli/filter_cli
dist-simple
dist-horn
dixlive
dixfe
dixbatch
dixmgr
dixcron
block_cli
filter_cli
address_cli
.vscode
.idea
tests
package-lock.json
node_modules
