**/*~
**/#*.*#
**/.#*
**/*.bak
**/*.so
**/*.log
**/*.gz
**/*.out
TAGS
ETAGS
dist-simple
dist-horn
bin
app/dist
app/dix-large.*
.vscode
.idea
tests
package-lock.json
node_modules

# Compiled binaries
dixfe
dixd
dix
block_cli
