.*~
*~
\#*
.#*
TAGS
ETAGS
*.log
*.gz
cmd/dixbatch/dixbatch
cmd/dixfe/dixfe
cmd/dixlive/dixlive
cmd/dixcron/dixcron
cmd/dixmgr/dixmgr
dist-simple
dist-horn
dixlive
dixfe
dixbatch
dixmgr
dixcron
.vscode
.idea
tests
