- ignore general rules
- go code
  - all code is tested but do not test
    - SQL code itself
    - very simple functions (less than 5 lines) except if instructed to do so
  - all code is formatted, linted and vetted
  - refactor functions which are over 50 lines long
  - do not duplicate code
- for html code
  - all code is formatted and valid
- for javascript code
  - all code is formatted and linted
