  # monitoring DOTLAKE database
  - job_name: postgres
    static_configs:
      - targets: ["{{.DotidxDB.IP}}:9187"]

  - job_name: polkadot-nodes
    static_configs:
      - targets: [
    {{range $relay, $chains := .Parachains}}
      {{range $chain, $props := $chains}}
        {{if eq $relay $chain}}
                {{$props.RelayIP}}:{{$props.PrometheusPort}},
        {{else}}
                {{$props.NodeIP}}:{{$props.PrometheusPort}},
        {{end}}
      {{end}}
    {{end}}
                 ]
  - job_name: polkadot-sidecar
    static_configs:
      - targets: [
    {{range $relay, $chains := .Parachains}}
      {{range $chain, $props := $chains}}
        {{if eq $relay $chain}}
                {{$props.RelayIP}}:{{$props.PrometheusPort}},
        {{else}}
                {{$props.NodeIP}}:{{$props.PrometheusPort}},
        {{end}}
      {{end}}
    {{end}}
