  # monitoring DOTLAKE database
  - job_name: postgres
    static_configs:
      - targets: ["{{.DotidxDB.IP}}:9187"]

    {{range $relay, $chains := .Parachains}}
  - job_name: {{$relay}}-nodes
    static_configs:
      - targets: [
      {{range $chain, $props := $chains}}
        {{if eq $relay $chain}}
                {{$props.RelayIP}}:{{$props.PrometheusPort}},
        {{else}}
                {{$props.NodeIP}}:{{$props.PrometheusPort}},
        {{end}}
      {{end}}
        ]

  - job_name: {{$relay}}-sidecar
    static_configs:
      - targets: [
      {{range $chain, $props := $chains}}
        {{if eq $relay $chain}}
                {{$props.RelayIP}}:{{$props.PrometheusPort}},
        {{else}}
                {{$props.NodeIP}}:{{$props.PrometheusPort}},
        {{end}}
      {{end}}
    {{end}}
        ]
