[Unit]
Description=People archive node
After=network-online.target

[Service]
StandardOutput=journal
ExecStart=/home/pierre/bin/polkadot-parachain \
    --chain collectives-polkadot \
    --name SpinCollectives \
    --state-pruning archive \
    --blocks-pruning archive \
    --db-cache 1000 \
    --rpc-max-connections 6000 \
    --rpc-rate-limit-whitelisted-ips 192.168.1.0/24 \
    --rpc-rate-limit-trust-proxy-headers \
    --rpc-message-buffer-capacity-per-connection 1024 \
    --rpc-max-batch-request-len 1024 \
    --rpc-cors all \
    --rpc-methods Auto \
    --rpc-external \
    --prometheus-external \
    --allow-private-ip \
    --port 9949 \
    --rpc-port 9950 \
    --base-path /data/backup/collectives-node-archive/

Restart=on-failure
RestartSec=120

[Install]
WantedBy=default.target zfs.target