[Unit]
Description=Dix batch service
After=network.target

[Service]
ExecStart={{.DotidxBin}}/dixbatch -conf {{.TargetDir}}-{{.Name}}/conf-{{.Name}}.toml
Restart=on-failure
RestartSec=20
LoadCredential=db_password:{{.DotidxRoot}}/secrets/db_password

[Install]
WantedBy=default.target


