[Unit]
Description=Dix service frontend
After=network.target

[Service]
ExecStart={{.DotidxBin}}/dixfe -conf {{.TargetDir}}-{{.Name}}/conf-{{.Name}}.toml
Restart=on-failure
RestartSec=20

[Install]
WantedBy=default.target


