[Unit]
Description=Dix service to continously index blocks
After=network.target

[Service]
ExecStart={{.DotidxBin}}/dixlive -conf {{.TargetDir}}-{{.Name}}/conf-{{.Name}}.toml
Restart=on-failure
RestartSec=120

[Install]
WantedBy=default.target


