[Unit]
Description=A high performance web server and a reverse proxy server
Documentation=man:nginx(8)
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/dotidx/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -p /dotidx -c /home/pierre/bin/dotidx-dist-horn/etc/nginx.conf
ExecStart=/usr/sbin/nginx -p /dotidx -c /home/pierre/bin/dotidx-dist-horn/etc/nginx.conf
ExecReload=/usr/sbin/nginx -p /dotidx -s reload -c /home/pierre/bin/dotidx-dist-horn/etc/nginx.conf
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --p /dotidx
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
