[Unit]
Description=Polkadot Relay archive node
After=network-online.target

[Service]
StandardOutput=journal
EnvironmentFile={{.TargetDir}}-{{.Name}}/conf/%i-relay-archive.conf
PassEnvironment=NODE_BIN NODE_CHAIN NODE_NAME NODE_PORT_WS NODE_PORT_RPC NODE_PORT_WS NODE_BASE_PATH NODE_PROM_PORT
ExecStart=/bin/sh -c '${NODE_BIN} \
    --chain ${NODE_CHAIN} \
    --name ${NODE_NAME} \
    --state-pruning archive \
    --blocks-pruning archive \
    --db-cache 16000 \
    --rpc-max-connections 60000 \
    --rpc-rate-limit-whitelisted-ips 192.168.1.0/24 \
    --rpc-rate-limit-trust-proxy-headers \
    --rpc-message-buffer-capacity-per-connection 1024 \
    --rpc-max-batch-request-len 1024 \
    --rpc-cors all \
    --rpc-methods Auto \
    --rpc-external \
    --prometheus-external \
    --allow-private-ip \
    --port ${NODE_PORT_WS} \
    --rpc-port ${NODE_PORT_RPC} \
    --prometheus-port ${NODE_PROM_PORT} \
    --base-path ${NODE_BASE_PATH}'
Restart=on-failure
RestartSec=120

[Install]
WantedBy=default.target {{if .Filesystem.ZFS }}zfs.target{{end}}

