[Unit]
Description=The Sidecar service for Polkadot Relay Chain
After=network.target

[Service]
Environment=SAS_LOG_LEVEL="debug"
Environment=SAS_LOG_JSON=false
Environment=SAS_LOG_WRITE=true
Environment=SAS_EXPRESS_KEEP_ALIVE_TIMEOUT=5000
Environment=SAS_EXPRESS_MAX_BODY="10mb"
Environment=SAS_EXPRESS_INJECTED_CONTROLLERS=false
Environment=SAS_METRICS_LOKI_HOST="192.168.1.32"
Environment=SAS_METRICS_LOKI_PORT=3100
Environment=SAS_METRICS_INCLUDE_QUERYPARAMS=false
EnvironmentFile={{.TargetDir}}-{{.Name}}/conf/%i-sidecar.conf
PassEnvironment=SAS_EXPRESS_PORT SAS_SUBSTRATE_URL SAS_LOG_LEVEL SAS_LOG_JSON SAS_LOG_WRITE SAS_WRITE_PATH SAS_EXPRESS_BIND_HOST SAS_EXPRESS_PORT SAS_EXPRESS_KEEP_ALIVE_TIMEOUT SAS_EXPRESS_MAX_BODY SAS_EXPRESS_INJECTED_CONTROLLERS SAS_METRICS_ENABLED SAS_METRICS_PROM_HOST SAS_METRICS_PROM_PORT SAS_METRICS_LOKI_HOST SAS_METRICS_LOKI_PORT SAS_METRICS_INCLUDE_QUERYPARAMS
ExecStart={{.DotidxBin}}/node {{.DotidxBin}}/node_modules/.bin/substrate-api-sidecar

